asgiref==3.2.10
astroid==2.15.0
awsebcli==3.20.5
botocore==1.29.81
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
dill==0.3.6
Django==3.1
django-crispy-forms==1.8.0
django-tinymce4-lite==1.8.0
idna==3.4
isort==5.12.0
jmespath==1.0.1
jsmin==3.0.1
lazy-object-proxy==1.9.0
mccabe==0.7.0
pathlib==1.0.1
pathspec==0.10.1
Pillow==9.4.0
platformdirs==3.1.1
pylint==2.17.0
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.8
pytz==2022.7.1
pywin32==306
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.3
termcolor==1.1.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.15
wcwidth==0.1.9
wrapt==1.15.0
