{% extends 'blog/blogbase.html' %}
{% load static %}
{% block content %}



<br>
<div class="container">

<header class="section-heading">
<h1 class="section-title">About Pastel.surf</h1>	
<p class="lead">Meet the P.O.P. (Pastel Only Please) Community</p>
</header><!-- sect-heading -->

<div class="row">
	<div class="col-md-4">

	<p>
Welcome to our pastel-colored world! We are a team of enthusiastic individuals who are passionate about bringing the beauty and charm of pastel colors to your everyday life. We believe that life is better with a pop of pastel, and we want to share this joy with you.

</p> <p>We take pride in curating a range of high-quality, pastel-colored items that are perfect for anyone who loves to add a little bit of color and joy to their life. Whether you're looking to complete your pastel wardrobe, designing a bright pastel home with our home decor, completing your fit with our bright accessories, or need a pastel collar for your four-legged fren, we've got you covered!</p>


	
	</div> <!-- col.// -->
	<div class="col-md-4">
		<p>
			At our core, we're all about spreading positivity, and we believe that the colors we surround ourselves with can have a powerful impact on our mood and well-being. So whether you're shopping for yourself or for someone else, you can trust that every item you purchase from us has been carefully selected to bring a smile to your face.</p><p> As you can tell we are not just a business that's all about fun and games - we also care about giving back to the community. That's why we donate a portion of our proceeds to <a href="https://www.kindsnacks.com/foundation.html" target="_blank" rel="noopener noreferrer"><u>The KIND Foundation</u></a>, a charity that works tirelessly to foster kindness and compassion across communities around the world.  

			
		</p>
	</div> <!-- col.// -->
	<div class="col-md-4">
			<p>
				

				We are a friendly and inclusive community, and we welcome everyone who shares our love for pastel colors and all things colorful. So come and join us on this vibrant journey, and let's make the world a more colorful and kinder place together.
			</p>

			<p>If you are interested in joining the P.O.P. community be sure to <a href="{% url 'home' %}" target="_blank" rel="noopener noreferrer"><u>subscribe</u></a>. This way we can let you know about our launch date, amazing deals, engaging blog posts and new products!  </p>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->


     {% endblock content %}