{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="edge">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="max-age=604800">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<meta name="description" content="Discover Your Pastel Paradise - Shop Our Wide Selection of High-Quality Pastel Colored Items Today! | Pastel.surf">
<meta name="keywords" content="pastel, men, women, man, woman, clothes, accessories, electronics, cute, clothing, pastel kawaii, pastel goth, sweater, outfits, skirts, dresses, shop, rainbow, puffy, Beverly Hills, New York City, Washington D.C., Miami, Vancouver, Seattle, Los Angeles, pastal, pastel ">
<meta property="og:title" content="Pastel.surf | Your Pastel Paradise" />
<meta property="og:description" content="Discover Your Pastel Paradise - Shop Our Wide Selection of High-Quality Pastel Colored Items Today! | Pastel.surf" />
<meta property="og:image" content="https://i.ibb.co/2ZLSRgC/logo.png" />
<meta property="og:url" content="https://www.pastel.surf">
<meta property="og:type" content="website" />

<title>Pastel.surf | Your Pastel Paradise</title>
<link href="{% static 'images/favicon.png' %}" rel="shortcut icon">

<!-- jQuery >
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script-->

<!-- Google fonts - Open Sans-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<!-- gLightbox-->
<link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.css' %}">
<!-- Theme stylesheet-->
<link rel="stylesheet" href="{% static 'css/style.sea.css' %}" id="theme-stylesheet" type='text/css'>
<!-- gLightbox-->
<link rel="stylesheet" href="{% static 'vendor/glightbox/glightbox.css' %}">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="{% static 'css/custom.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/github.css' %}" rel="stylesheet">

<!-- Favicon-->


<!-- custom javascript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/glightbox.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script>hljs.initHighlightingOnLoad();</script>


</head>
<body>


{% include 'blog/headerlaunch.html' %}

	{% block content %}
	{% endblock %}
	{% include 'blog/footerlaunch.html' %}


 
   
    
  

   
   
  
 
