{% extends 'blog/blogbase.html' %}
{% load static %}
{% block content %}


<!---big blog squares--->
<section class="pt-0">
      <div class="container">
        <!-- Post-->
        <h2>Featured Article</h2><br>
        {% for obj in object_list %}
        
         <div class="row d-flex align-items-stretch g-0">
      
        <div class="col-lg-5"><img class="img-fluid" src="{{ obj.thumbnail.url }}" alt="{{ obj.thumbnail_alt }}" href="pastel.surf/blog/post/Introducing-Pastel-surf"></div>
      
       
          <div class="col-lg-7">
            <div class="text-inner d-flex align-items-center h-100 bg-light">
              <div class="content px-4 px-lg-5">
                <ul class="list-inline mb-1">
                  {% for cat in obj.categories.all %}
                  <li class="list-inline-item"><a class="text-uppercase text-dark small fw-bold" >{{cat}}</a></li>
                  {% endfor %}
                </ul>
                <h2 class="h4 mb-3"><a class="text-dark" method="GET" href=""pastel.surf/blog/post/Introducing-Pastel-surf"">{{ obj.title }}</a></h2>
                <p class="text-sm">{{ obj.meta }}</p>
                <ul class="list-inline list-separated text-gray-500 mb-0">
                  <li class="list-inline-item"><a class="d-flex align-items-center flex-wrap text-reset">
                      <div class="avatar flex-shrink-0"><img class="img-fluid" src="{{ obj.author.profile_picture.url}}" alt="Author {{obj.author.user.username}} Profile Picture"></div><small>{{ obj.author.user.username }}</small></a>
                  <li class="list-inline-item small"><i class="far fa-clock"></i> {{ obj.timestamp|date:"F d Y"}}</li>
                
                </ul>
              </div>
            </div>
          </div>
         
        </div>
        {% endfor %}
         <br>
        
    <!----begin smaller blog squares.-->
    <div class="container"><hr>
      <h2 style="bold">Latest Posts</h2><br>
        <div class="row gy-5">
          <!-- Latest Posts -->
          <main class="col-lg-8"> 
            <div class="container"> 

              <div class="row gy-4 mb-5">
                <!-- post -->
                 {% for post in queryset %}
                <div class="col-lg-6">
                  <a class="mb-3" href="{{ post.get_absolute_url }}"><img class="img-fluid" src="{{ post.thumbnail.url }}" style="width:360; height:200;" alt="{{post.title}} thumbnail image"></a>
                  <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">{{ post.timestamp|date:"F d Y" }}</small>
                    {% for cat in post.categories.all %}<a class="small fw-bold text-uppercase small" href="!#">{{cat}}</a></div>
                    {% endfor %}
                  <h3 class="h4"><a class="text-dark small" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                  <p class="text-muted text-sm">{{ post.meta }}</p>
                  <ul class="list-inline list-separated text-gray-500 mb-0">
                    <li class="list-inline-item"><a class="d-flex align-items-center flex-wrap text-reset" >
                        <div class="avatar flex-shrink-0"><img class="img-fluid" src="{{ post.author.profile_picture.url }}" alt="..."></div><small>{{ post.author.user.username }}</small></a></li>
                    <li class="list-inline-item small"><i class="far fa-clock">{{post.timestamp | date:"F d Y"}}</i></li>
                    <!--li class="list-inline-item small"><i class="far fa-comment"></i> {{ post.comment_count }}</li-->
                  </ul>
                </div>
              {%endfor%}
              <!-- Pagination -->
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  {% if queryset.has_previous %}
                  <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>{% endif %}
                  <li class="page-item active"><a class="page-link" href="?{{ page_request_var }}={{ queryset.number }}">{{queryset.number}}</a></li>
                 
                  {% if queryset.has_next %}
                  <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>

          </main>
          {% include 'blog/sidebar.html' with most_recent=most_recent category_count=category_count %}
         
          <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to be here first!</h2>
            <p class="text-lg lh-lg fw-light mb-4">Join us on this exciting journey as we launch our store and embark on a new adventure of pastel-fun.</p>
          </div>
          <div class="col-md-8">
            <form action="." method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input class="form-control p-3" type="email" name="email" id="email" placeholder="Type your email address">
                <button class="submit" type="submit">Subscribe</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
        </div>
      </div>
  {% endblock content %}