{% extends 'blog/blogbase.html' %}
{% load static %}
{% block content %}




<div class="row" >
<aside class="col-md-3" style="display: block;
    margin-left: auto;
    margin-right: auto">
<div class="card">
      <div class="card-body">
      	<div class="form-row">
      <h4 class="card-title mb-4 text-center">Talk To Us!</h4>
      <form method="POST" class="form-group">
      	{% csrf_token %}

      	{{form.as_p}}
      	    <div class="form-actions">
      	    	<button type ="submit" class="btn btn-primary btn-block btn-lg ">Send</button>
    
    </div>
</form>
</div>
</div>
</div>
</aside>
</div>
        
      	
			




     {% endblock content %}