<!-- ========================= FOOTER ========================= -->

<br>
<footer class="footer text-white" style="background-color: #34DDDA; ">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          <h5 class="title">Categories #CrashingSoon</h5>
					<ul class="list-unstyled">
						<li class="mb-1"><a class="text-white" href="#">Women</a></li>
						<li class="mb-1"><a class="text-white" href="#">Men</a></li>
						<li class="mb-1"><a class="text-white" href="#">Accessories</a></li>
						<li class="mb-1"><a class="text-white" href="#">Electronics</a></li>
						<li class="mb-1"><a class="text-white" href="#">Pets</a></li>
					</ul>
          </div>
          <div class="col-md-4"><h5 class="title">Explore <u>Pastel.surf</u></h5>
            <div class="d-flex">
<ul class="list-unstyled">
                <li class="mb-1"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                <li class="mb-1"><a class="text-white" href="{% url 'blog' %}">Blog</a></li>
                <li class="mb-1"><a class="text-white" href="!#">About Us</a></li>
                <li class="mb-1"><a class="text-white" href="!#">Contact</a></li>
              </ul>
              
</div>
</div>
            <div class="col-lg-4 col-md-4">
            <h4 class="mb-3">Subscribe to be here first!</h4>
            <p class="text-muted">Join us on this exciting journey as we launch our store and embark on a new adventure of pastel-fun.</p>
            <form>
               <div>
        <form action="." method="post" class="form-horizontal" success>
            {% csrf_token %}
            <input type="email" name="email" class="form-control" id="email" placeholder="Your Email Please" required>
            <br>
            <input type="submit" value="Subscribe" class="submit btn btn-primary btn-md">
        </form>
    </div>
  
                
               
              <!-- /input-group-->
            </form>

          
        </div>
      </div>
    </footer>
		<div class="copyrights text-center" style="background-color: #34DDDA;">
				<!--p class="text-sm">Privacy Policy - Terms of Use</p-->
			 
        <ul class="list-unstyled">
              <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <p class="text-sm"> &copy {% now "Y" %} Pastel.surf, All rights reserved </p> 
            <hr>
		</div>

	<!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
</body>
</html>