{% load static%}
<!---header class="section-header"---->
<header class="header">
<nav class="navbar navbar-expand-lg navbar-light border-bottom py-3" style="background-color: #34DDDA;">
  <!-- Navbar content -->
<div class-"container py-1"
      <div class="container py-1">
      	<div class="col-xl-2 col-lg-3 col-md-12">
				<a href="{% url 'home' %}">
					<img class="logo icon " src="{% static 'images/logo.png' %}">    <span class="fw-bold text-uppercase text-lightblue">Pastel.surf</span></a>
				 <!-- brand-wrap.// -->
			</div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
            <li class="nav-item"><a class="nav-link " href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item"><a class="nav-link " href="{% url 'about-us' %}">About Us</a>
            </li>
            <li class="nav-item"><a class="nav-link " href="{% url 'contact-us' %}">Contact</a>
            </li>
            
          </ul>
        </div></div>
      </div>

</nav>
<br>