{% extends 'blog/blogbase.html' %}
{% load static %}

{% block content %}
<section class="section-name bg padding-y">
<div class="container">

<header class="section-heading">
<h2 class="section-title"><b>Pastel.surf Store is Coming SOON!</b></h2>
<p class="lead">For now visit us at our <a href="{% url 'blog'%}" target="_blank" rel="noopener noreferrer"><u>BLOG</u></a>.  Or share our site on social media to let us and others know that brighter days are ahead!</p>
</header><!-- sect-heading -->

</div>
</section>
{% endblock content %}