{% extends 'blog/blogbase.html' %}
{% load static %}
{% block content %}




<section class="section-name bg padding-y">
<div class="container">

<header class="section-heading">
<h2 class="section-title"><b>Thank you for your inquiry!</b></h2>
<p class="lead">Please allow us time to give you a thoughtful response to your comments, questions, or concerns! <br><br> - James <br><i>Owner, Pastel.surf</i></p>
</header><!-- sect-heading -->

</div>
</section>      	
			




     {% endblock content %}